{{ define "main" }}

<!-- Spacer to add space between sections -->
<div style="height: 50px;"></div>

<!-- Image gallery: Displays images with captions -->
<div class="image-gallery">
    <!-- Image 1: bounce -->
    <div class="image-item">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Cry%20a%20River&amount=8.00&currency_code=USD">
            <img src="images/bounce.png" alt="bounce">
        </a>
        <p class="caption"><strong>"bounce"</strong></p>
        <p class="sub-caption">5"x7" art print, water based ink on 250gsm cardstock</p>
        <p class="availability">1/1 available</p>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Cry%20a%20River&amount=8.00&currency_code=USD" class="purchase">purchase</a>
    </div>

    <!-- Image 2: tri-tini -->
    <div class="image-item">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Eureka&amount=8.00&currency_code=USD">
            <img src="images/martini.png" alt="martini">
        </a>
        <p class="caption"><strong>"tri-tini"</strong></p>
        <p class="sub-caption">5"x7" art print, water based ink on 250gsm cardstock</p>
        <p class="availability">6/7 available</p>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Eureka&amount=8.00&currency_code=USD" class="purchase">purchase</a>
    </div>

    <!-- Image 3: dual-tini -->
    <div class="image-item">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Missing%20Out&amount=8.00&currency_code=USD">
            <img src="images/dual-tini.png" alt="dual-tini">
        </a>
        <p class="caption"><strong>"dual-tini"</strong></p>
        <p class="sub-caption">5"x7" art print, water based ink on 250gsm cardstock</p>
        <p class="availability">6/8 available</p>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Missing%20Out&amount=8.00&currency_code=USD" class="buy-now">purchase</a>
    </div>
</div>

{{ end }}
