{{ define "main" }}

<h1>Scattered Images Gallery</h1>
<h2>Browse the Collection</h2>

<div class="image-gallery">
    <div class="image-item">
        <img src="images/bounce.png" alt="bounce">
        <div class="captions">
            <p><strong>"bounce"</strong></p>
            <p>5"x7" art print, water-based ink on 250gsm cardstock</p>
            <p>1/1 available</p>
            <a href="#" class="purchase">Purchase</a>
        </div>
    </div>
    <div class="image-item">
        <img src="images/martini.png" alt="martini">
        <div class="captions">
            <p><strong>"tri-tini"</strong></p>
            <p>5"x7" art print, water-based ink on 250gsm cardstock</p>
            <p>6/7 available</p>
            <a href="#" class="purchase">Purchase</a>
        </div>
    </div>
    <div class="image-item">
        <img src="images/dual-tini.png" alt="dual-tini">
        <div class="captions">
            <p><strong>"dual-tini"</strong></p>
            <p>5"x7" art print, water-based ink on 250gsm cardstock</p>
            <p>6/8 available</p>
            <a href="#" class="purchase">Purchase</a>
        </div>
    </div>
</div>

{{ end }}
