{{ define "main" }}

<!-- Spacer to add space between sections -->
<div style="height: 50px;"></div>

<!-- Image gallery: Displays images with captions -->
<div class="image-gallery">
    <!-- Image 1: bounce -->
    <div class="image-item">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Cry%20a%20River&amount=8.00&currency_code=USD">
            <img src="images/bounce.png" alt="bounce">
        </a>
        <p class="caption"><strong>"bounce" </strong></p>
        <p class="sub-caption">art print, 1/1 available</p>
    </div>

    <!-- Image 2: tri-tini -->
    <div class="image-item">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Eureka&amount=8.00&currency_code=USD">
            <img src="images/martini.png" alt="martini">
        </a>
        <p class="caption"><strong>"tri-tini" art print</strong></p>
        <p class="sub-caption">art print, 6/7 available</p>
    </div>

    <!-- Image 3: Missing Out -->
    <div class="image-item">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=alexcollinshall@gmail.com&item_name=Missing%20Out&amount=8.00&currency_code=USD">
            <img src="images/missing out.png" alt="Missing Out">
        </a>
        <p class="caption"><strong>Missing Out</strong></p>
        <p class="sub-caption">A playful take on nostalgia</p>
    </div>
</div>

{{ end }}
